node_modules/
bun.lockb
npm-debug.log*
yarn.lock
pnpm-lock.yaml

dist/
build/
out/
coverage/
.tmp/
.cache/
.vite/

.env
.env.local
.env.development
.env.production
.env.test

logs/
*.log
target/
.vscode/
.idea/
*.tsbuildinfo
.DS_Store
Thumbs.db

apps/runtime/data
apps/server/.december-imports
infra/minio/data
infra/postgres/data
infra/nginx/deployments